<a href="https://colab.research.google.com/github/zdwhite/Thinkful-Unit-2/blob/master/DRILL_Multi_Variate_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
data_path = ("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv"
            )
df = pd.read_csv(data_path, delimiter= ',')

#drop the first 4 rows of data as they aren't needed
df = df.drop([0,1,2,3])

#remove the last 3 rows as they aren't needed either
df = df.iloc[:len(df)-3]


# there aren't many columns just clean them by hand
df.columns = ['City',	'Population',	'Violent',	'Murder', 	'Rape_revised',	'Rape_legacy',	'Robbery',	'Aggravated_assault',	'Property_crime',	'Burglary',	'Larceny_theft',	'Motor_vehicle_theft',	'Arson']

# lots of NaN values lets just fill them in with 0s
df.fillna(0,inplace=True)

# drop all the columns not used for the regression model
df=df.loc[:,['City','Population','Murder','Robbery']]
df.set_index('City',inplace=True)

#remove ','
df = df.apply(lambda x: x.str.replace(',',''))

#turn columns into integars
df = df.apply(lambda x: pd.to_numeric(x,errors='coerce'))

In [184]:
df.head(5)

                          Population  Murder  Robbery  Population_squared
City
Adams Village                   1861       0        0             3463321
Addison Town and Village        2577       0        0             6640929
Akron Village                   2846       0        0             8099716
Albany                         97956       1        1          9595377936
Albion Village                  6388       0        1            40806544

>Prepare this data to model with multivariable regression (including data cleaning if necessary) according to this specification:

$$ Property Crime = \alpha + Population + Population^2 + Murder + Robbery$$


1.     Murder (continuous) > Murder(categorical)

2.    Robbery (continuous) > Robbery(categorical)

In [0]:
#define a quick function to apply over murder and robbery columns
# Turns elements into binary categorical data from continuous

def non_zero(x):
  if int(x) > 0:
    return 1
  return 0


#Holy shit this is elegant !!
# takes murder and robbery columns looks at each element and applys the non_zero function above
df.loc[:,'Murder':'Robbery'] = df.loc[:,'Murder':'Robbery'].apply(lambda x: x.apply(non_zero))

# Turn Population into integar values (These lines are depretiated and are not needed)
#  I like the code as examples of using .loc in combination with apply and lambda
#df.loc[:,'Population'] = df.loc[:,'Population'].apply(lambda x: int(x))
#df.loc[:,'Population'] = int(df.loc[:,'Population'])


#Create Population Squared
df['Population_squared'] = df.loc[:,'Population'].apply(lambda x: int(x)**2)

In [0]:
df